.custom-navbar{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
}

.navbar-menu-container{
  margin-right: 200px;
}

.navbar-menu{
  color: #292b2c;
  font-size: large;
  font-family: Poppins, sans-serif;
  margin: 12px;
  padding: 16px;
}

.navbar-menu-active{
  font-size: large;
  font-family: Poppins, sans-serif;
  color: #0275d8;
  margin: 12px;
  padding: 16px;
}

.navbar-logo-brand{
  font-size: x-large;
}

.navbar-logo{
  margin-left: 100px;
}

.navbar-logo img{
  width: 70px;
  height: 70px;
}

.home-container{
  margin: 50px;
  display: flex;
  flex-direction: row;
}

.home-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image img{
  width: 80%;
  height: 80%;
}

.home-text{
  display: flex;
  width: 1000px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.home-text-label{
  font-family: "Poppins Medium", sans-serif;
  font-size: 50px;
}

.home-text-a {
  font-size: x-large;
  color: #292b2c;
}

.map{
  width: 800px;
  height: 500px;
}

.container-region{
  display: flex;
  flex-direction: row;
}

.container-region-parent{
  margin-top: 8px;
  background: #fafafa;
}

.container-form{
  margin: 8px;
  width: 100%;
}

.container-form Form{
  background: white;
  padding: 32px;
  margin-top: 16px;
}

.container-map{
  background: white;
  padding: 16px;
  margin: 8px;
}

.container-list{
  margin: 8px;
  padding: 32px;
  background: white;
}

.container-regionlist{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.region-list-input{
  width: 500px;
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
}

.region-list-pagination{
  align-self: center;
}

.region-list-table{
  width: 1000px;
  align-self: center;
}



path[fill='#123456'] {
  display: none !important
}

.container-pie{
  display: flex;
  justify-content: center;
  background: white;
}


