.custom-navbar{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

.navbar-menu-container{
  margin-right: 200px;
}

.navbar-menu{
  color: #292b2c;
  font-size: large;
  font-family: Poppins, sans-serif;
  margin: 12px;
  padding: 16px;
}

.navbar-menu-active{
  font-size: large;
  font-family: Poppins, sans-serif;
  color: #0275d8;
  margin: 12px;
  padding: 16px;
}

.navbar-logo-brand{
  font-size: x-large;
}

.navbar-logo{
  margin-left: 100px;
}

.navbar-logo img{
  width: 70px;
  height: 70px;
}

.home-container{
  margin: 50px;
  display: flex;
  flex-direction: row;
}

.home-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image img{
  width: 80%;
  height: 80%;
}

.home-text{
  display: flex;
  width: 1000px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.home-text-label{
  font-family: "Poppins Medium", sans-serif;
  font-size: 50px;
}

.home-text-a {
  font-size: x-large;
  color: #292b2c;
}

.map{
  width: 800px;
  height: 500px;
}

.container-region{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.container-form{
  width: 50%;
}

.container-form Form{
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 25px;
  margin: 25px;
  background: #ffffff;
}

.container-map{

}

.container-list{
  padding-left: 50px;
  padding-right: 50px;
}

path[fill='#123456'] {
  display: none !important
}


